packer {
  required_plugins {
    incus = {
      source  = "github.com/bketelsen/incus"
      version = "~> 1"
    }
  }
}

source "incus" "incus-alma8" {
  image = "images:almalinux/8/arm64"
  output_image = "alma8-packer"
  publish_properties = [
    "description" = "incus alma8 repackage with Packer"
  ] 
}

build {
  sources = ["incus.incus-alma8"]
  provisioner "shell" {
    scripts = [
      "user.sh",
      "packages.sh",
      "service.sh"
    ]
  }
}
