packer {
  required_plugins {
    incus = {
      source  = "github.com/bketelsen/incus"
      version = "~> 1"
    }
  }
}

source "incus" "incus-alma9" {
  {% if ansible_facts['architecture'] == 'aarch64' %}
  image = "images:almalinux/9/arm64"
  {% elif ansible_facts['architecture'] == 'amd64' %}
  image = "images:almalinux/9/amd64"
  {% endif %}
  output_image = "alma9-packer"
  reuse = true
  publish_properties = {
    "description" = "incus alma9 repackage with Packer"
  }
}

build {
  sources = ["incus.incus-alma9"]
  provisioner "shell" {
    scripts = [
      "user.sh",
      "packages.sh",
      "service.sh"
    ]
  }
}
