packer {
  required_plugins {
    incus = {
      source  = "github.com/bketelsen/incus"
      version = "~> 1"
    }
  }
}

source "incus" "incus-rocky9" {
  {% if ansible_facts['architecture'] == 'aarch64' %}
  image = "images:rockylinux/9/arm64"
  {% elif ansible_facts['architecture'] == 'amd64' %}
  image = "images:rockylinux/9/amd64"
  {% endif %}
  output_image = "rocky9-packer"
  reuse = true
  publish_properties = {
    "description" = "incus rocky 9 repackage with Packer"
  }
}

build {
  sources = ["incus.incus-rocky9"]
  provisioner "shell" {
    scripts = [
      "user.sh",
      "packages.sh",
      "service.sh"
    ]
  }
}
