packer {
  required_plugins {
    incus = {
      source  = "github.com/bketelsen/incus"
      version = "~> 1"
    }
  }
}

source "incus" "incus-ubu20" {
  {% if ansible_facts['architecture'] == 'aarch64' %}
  image = "images:ubuntu/focal/arm64"
  {% elif ansible_facts['architecture'] == 'x86_64' %}
  image = "images:ubuntu/focal/amd64"
  {% endif %}
  output_image = "ubu20-packer"
  reuse = true
  publish_properties = {
    "description" = "incus ubuntu 20 repackage with Packer"
  }
}

build {
  sources = ["incus.incus-ubu20"]
  provisioner "shell" {
    scripts = [
      "user.sh",
      "packages.sh",
      "service.sh"
    ]
  }
}
