packer {
  required_plugins {
    incus = {
      source  = "github.com/bketelsen/incus"
      version = "~> 1"
    }
  }
}

source "incus" "incus-ubu24" {
  {% if ansible_facts['architecture'] == 'aarch64' %}
  image = "images:ubuntu/noble/arm64"
  {% elif ansible_facts['architecture'] == 'amd64' %}
  image = "images:ubuntu/noble/amd64"
  {% endif %}
  output_image = "ubu24-packer"
  reuse = true
  publish_properties = {
    "description" = "incus ubuntu 24 repackage with Packer"
  }
}

build {
  sources = ["incus.incus-ubu24"]
  provisioner "shell" {
    scripts = [
      "user.sh",
      "packages.sh",
      "service_ubu24.sh"
    ]
  }
}
