#!/bin/bash

useradd {{ user }}
echo "{{ user }} ALL=(ALL) NOPASSWD:ALL" }} user }} >/etc/sudoers.d/10_{{
mkdir /home/{{ user }}/.ssh
echo "{{ user_pub_key }}" user }}/.ssh/authorized_keys >>/home/{{
